* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgb(255, 195, 118) 0%,  rgba(241,211,211,1) 100%);
    color: rgb(159, 108, 108);
}

html, body {
    height: 100%;
}

h1{
    font-family: 'Franklin Gothic Medium';
    font-size: 4.2rem;
    text-transform: uppercase;
}

#container{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 16%;
}

button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(33, 97%, 56%);
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: hsl(33, 90%, 64%);
}

button:active {
    background-color: hsl(33, 100%, 78%);
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
    color: hsl(33, 97%, 56%);
}

figure#diceImages img {
    width: 15rem;
    padding: 1.5rem;
}